.app {
	width: 90%;
	margin: 50px auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #dddddd;
}

table thead {
	background: #555555;
	color: #ffffff;
}

table tr td,
table tr th {
	padding: 10px;
}
