.gallery {
	display: flex;
	width: 85%;
	margin: 40px auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery .image {
	width: 33.333%;
	height: auto;
	object-fit: cover;
}

.button-container {
	width: 85%;
	margin: 0 auto 30px;
}

.button-container .button {
	border: none;
	padding: 10px 30px;
	border-radius: 5px;
	background: #7f9406;
	color: #ffffff;
	cursor: pointer;
}

.spinner-container {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-width: 7px;
	border-style: solid;
	border-color: #d6d6d6 #d6d6d6 #d6d6d6 #ffffff;
	margin: 15% auto;
	position: relative;
	animation: spinning 0.5s infinite;
}
@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
